

        <div class="inside"></div>
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
          <ul class="sidebarMenuInner">
            <li><a href="#top">TOP</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#login">LOG IN</a></li>
            <li><a href="#contact">CONTACT</a></li>
          </ul>
        </div>


<div class="container">



<div class="row awesome">
  <h2><%= @cocktail.name %></h2>
<p><%= cl_image_tag @cocktail.photo, height: 300, width: 300, crop: :fill %></p>
<p class="text"><%= link_to "Delete #{@cocktail.name}", cocktail_path(@cocktail), method: :delete %></p>

  <p class="text"><%= link_to "Add Dose", new_cocktail_dose_path(@cocktail) %></p>

  <% @cocktail.doses.each do | dose |  %>
    <p class="text">
      <%= dose.ingredient.name %> - <%= dose.description %>
      <%= link_to "delete", dose_path(dose), method: :delete %>
      </p>
    <% end %>

<p class="text"><%= link_to "Return to Cocktails", cocktails_path %></p>
</div>
</div>




